<section class="faq" id="faq">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2 style="color:#000">Frequently Asked Questions</h2>
    </header>
    <div class="row">
      <div class="col-lg-6">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-1"
                >What Services are available on Sharp!?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq-content-1"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                <p>The following services are available on the app.</p>
                <ol type="i">
                  <li>
                    Serpros can register to provide critical services in one or
                    two skill categories after a verification of their
                    identification documents.
                  </li>
                  <li>
                    Serpros can post and update information on their
                    identification and experience to enhance their selection by
                    Customers.
                  </li>
                  <li>
                    Customers can select from a list of verified Serpros based
                    on their specific needs and requirements.
                  </li>
                  <li>
                    Customers can pay for the services provided through the app.
                  </li>
                  <li>
                    Customers can provide feedback on the app and receive prompt
                    responses on the overall quality of experience with Serpros.
                  </li>
                  <li>
                    Customers and Serpros can purchase materials from reputable
                    stores through the app and get them delivered to the site.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-2"
                >What are the benefits of using Sharp! for your service?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq-content-2"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                <ol type="i">
                  <li>
                    The capacity and credibility of Serpros will be
                    significantly improved as they respond positively to
                    Customers who demand prompt and quality services.
                  </li>
                  <li>
                    Customers can select from a pool of verified, secure and
                    rated Serpros and obtain efficient services.
                  </li>
                  <li>Customers can pay optimum rates for works executed.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-3"
                >What is the policy on pricing and fees?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq-content-3"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                <ol type="i">
                  <li>
                    Serpros will begin the payment of a monthly subscription
                    rate of GHs 10 after from the third time of using the app.
                  </li>
                  <li>
                    Customers will make payment to the Serpros for work
                    satisfactorily done through the app and based on prices of
                    materials, scope of work and distance of the Serpro from the
                    job location.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-7"
                >How do I report on issue on Sharp!</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq-content-7"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                <ol type="i">
                  <li>
                    You may send an email to the Help section on the website to
                    report and receive solutions and prompt response to issues.
                    We are committed to resolve the issue within 48 hours of
                    your report.
                  </li>
                  <li>
                    Customers and Serpros can also call Sharp! Support Centre
                    Officers on their 24/7 direct lines to report issues and
                    receive attention.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordion accordion-flush" id="faqlist2">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-1"
                >My account is not responding. What should I do?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq2-content-1"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                Please call our Support Centre Officers to explain your
                challenge in detail or use the help section on the website and
                on the app.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-2"
                >How does the Customer request for a refund?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq2-content-2"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                <em><strong>Sharp!</strong></em> will investigate the circumstances
                requiring the request and advise the Customers. Refunds will be made
                against the next usage of the app by the Customer.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-8"
                >How can the Customer repeat the same Sepro?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq2-content-8"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                The <em><strong>Sharp!</strong></em> app will display the Customer’s
                previous selections to enable the use of a particular Serpro.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-3"
                >Who pays for the transportation of the Serpro to a Customer’s
                location?</button>
            </h2>
            <div
              class="accordion-collapse collapse"
              id="faq2-content-3"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                The Customer pays for the cost of the Serpro’s transportation as
                part of the final invoice issued through the app to the
                Customer.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
